:root {
    --main-color: #fe6871;
    --hover-main-color:#ffcebf;
    --active-main-color:#e2454f;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 150px, repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "navbar contenido  contenido  contenido"
                         "navbar contenido  contenido  contenido"
                         "navbar card1    card2    card3"
                         "footer footer   footer   footer ";
    grid-gap: 10px;
    height: 100vh;
    width: 100%;
	/* max-width: 1140px; */
    margin: 10px auto;
}

.wrapper .navbar {
    /* background-color: #fe6871; */
    grid-area: navbar;
    width: 150px;
  
}


.sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    height: 30%;
    margin: auto;

}
.sidenav a {
    padding: 20px 8px 6px 40px;
    text-decoration: none;
    color:var(--main-color);
    display: block;
    width: 25px;
    height:25px;
 }

 .sidenav a:link{
    color:var(--main-color);
 }

.sidenav a:hover {
    color: var(--hover-main-color);
    transform: scale(1.5);
 } 

 .sidenav a:active {
    color: var(--active-main-color);
 } 

.wrapper .contenido {
    /* background-color: #ffcebf; */
    grid-area: contenido;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenido .present {
    position: relative;
    height: 30%;
    margin: auto;
}

.contenido .present h1 {
    font-size: 80px;
}

.contenido .text{
 font-weight: 300;
 line-height: 2;
 margin: 20px;
} 


.wrapper .card1{
    grid-area: card1;
    /* background-color: aquamarine; */
}

.wrapper .card2{
    /* background-color: blue; */
    grid-area: card2;
}

.wrapper .card3{
    grid-area: card3;
    /* background-color: aquamarine; */
}

.wrapper .card1,
.wrapper .card2,
.wrapper .card3 {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 12px 32px 4px rgba(black, .5);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper .card1 a,
.wrapper .card2 a,
.wrapper .card3 a{
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
    line-height: 2;
}

.wrapper .card1:hover,
.wrapper .card2:hover,
.wrapper .card3:hover{
    transform: translateY(-15px);
    background-color: var(--hover-main-color);
} 

.wrapper .card1:active,
.wrapper .card2:active,
.wrapper .card3:active{
    background-color: var(--active-main-color);
   
} 

.wrapper .card1 a:active,
.wrapper .card2 a:active,
.wrapper .card3 a:active{
    color: white;
}

.wrapper .footer{
    /* background-color: bisque; */
    grid-area: footer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: small;
    color: rgb(158, 156, 156);
   
}
/*RESPONSIVE*/
@media screen and (max-width: 768px){
    .wrapper {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px, 300px, repeat(3, 1fr),50px;
        grid-template-areas:"navbar   navbar   navbar"
                             "contenido  contenido  contenido"
                             "card1    card1    card1"
                             "card2    card2    card2"
                             "card3    card3    card3"
                             "footer   footer   footer";
        width: 90%;

    }
    .wrapper .navbar {
        /* background-color: #fe6871;  */
        grid-area: navbar;
        height: 100px;
        width: 100%;
    }

    .sidenav {
        position: relative;
        display: flex;
        justify-content: center;
  
    }
    .sidenav a {
        padding: 40px;
        text-decoration: none;
        color: var(--main-color);
        width: 30px;
        height: 30px;
     }

     .sidenav a:hover {
        color: var(--hover-main-color);
        transform: scale(1.5);
     } 
     .sidenav a:active {
        color: var(--active-main-color);
     } 
    

    .wrapper .contenido{
        grid-area: contenido;
        height: 300px;
        display: inline-block;
        align-items: center;
        justify-content: center;
        
    }

    
    
    .contenido .present h1 {
        font-size: 80px;
    }
    
    .contenido .text{
     font-weight: 300;
     line-height: 2;
     margin: 20px;
    } 

    .wrapper .card1{
        grid-area: card1;

    }

    .wrapper .card2{
        grid-area: card2;

    }

    .wrapper .card3{
        grid-area: card3;

    }
    .wrapper .card1 ,
    .wrapper .card2 ,
    .wrapper .card3 {
        margin: 10px;
    }

    .wrapper .card1:hover,
    .wrapper .card2:hover,
    .wrapper .card3:hover{
        transform: translateY(-10px);
        background-color: var(--hover-main-color);
    } 

    .wrapper .card1:active,
    .wrapper .card2:active,
    .wrapper .card3:active{
    background-color: var(--active-main-color);
   
    } 

    .wrapper .card1 a:active,
    .wrapper .card2 a:active,
    .wrapper .card3 a:active{
    color: white;
    }


    .wrapper .footer{
        grid-area: footer;
        height: 50px;
    }
   
}

@media screen and (max-width: 600px){
    .wrapper {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 80px, 400px, repeat(3, 1fr),50px;
        grid-template-areas:"navbar   navbar   navbar"
                             "contenido  contenido  contenido"
                             "card1    card1    card1"
                             "card2    card2    card2"
                             "card3    card3    card3"
                             "footer   footer   footer";
        width: 90%;

    }

    .wrapper .navbar {
        /* background-color: #fe6871;  */
        grid-area: navbar;
        height: 80px;
        width: 100%;
    }

    .sidenav {
        position: relative;
        display: flex;
        justify-content: center;
  
    }
    .sidenav a {
        padding: 40px;
        text-decoration: none;
        color: var(--main-color);
        width: 30px;
        height: 30px;
     }

     .sidenav a:active {
        color: var(--active-main-color);
     } 
     .sidenav a:hover {
        color: var(--hover-main-color);
        transform: scale(1.5);
     } 

    .wrapper .contenido{
        grid-area: contenido;
        height: 400px;
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 10px;
        
    }

    
    .contenido .present h1 {
        font-size: 60px;
    }
    
    .contenido .text{
     /* font-weight: 300; */
     line-height: 2;
     /* margin: 10px; */
    } 

    .wrapper .card1{
        grid-area: card1;

    }

    .wrapper .card2{
        grid-area: card2;

    }

    .wrapper .card3{
        grid-area: card3;

    }
    

    .wrapper .card1:hover,
    .wrapper .card2:hover,
    .wrapper .card3:hover{
        transform: translateY(-10px);
        background-color: var(--hover-main-color);
    } 

    .wrapper .card1:active,
    .wrapper .card2:active,
    .wrapper .card3:active{
        background-color: var(--active-main-color);
   
    } 

    .wrapper .card1 a:active,
    .wrapper .card2 a:active,
    .wrapper .card3 a:active{
        color: white;
    }


    .wrapper .footer{
        grid-area: footer;
        height: 50px;
    }

}


